.register__container {
  background-color: #f4f4f4;
}
.center_wrapper {
  box-shadow: 1px 4px 20px 0px #11111191;
}
.part_1 {
  padding-bottom: 20px;
  border-bottom: 2px solid #ec6608;
  margin-bottom: 20px;
  gap: 7px;
  display: flex;
  flex-wrap: wrap !important;
}

@media (max-width: 600px) {
  .part_1 {
    flex-direction: column;
  }
}
.part_1 input {
  width: 200px;
  display: flex !important;
  flex-wrap: wrap !important;
  flex-shrink: 1;
}
.dropdown {
  width: 200px;
}
.part_2 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  gap: 5px;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .part_2 {
    flex-direction: column;
  }
}
.part_2 input {
  width: 200px;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.izo__logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  padding: 0;
}
.parts__container {
  margin: 20px;
}

.form__controllers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 23px;
}
.form__controllers button {
  margin: auto;
  background: linear-gradient(90deg, #ec6608, #f39004, orange);
  /* border: 1px solid #ec6608; */
  margin-bottom: 10px;
  transition: ease-in-out 0.5s;
  position: relative;
  display: inline-block;
  padding: 18px 30px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 3px;
  border-radius: none !important;
}
.form__controllers button span {
  position: absolute;
  display: block;
}
.form__controllers button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1.5s linear infinite;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}
.form__controllers button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: 0.375s;
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}
.form__controllers button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.form__controllers button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}
.form__controllers button:hover {
  background: #111111;

  color: #ec6608;
  transition: ease-in-out 0.5s;
}
.form__controllers input:focus {
  outline: #ec6608 !important;
  outline-color: #ec6608 !important;
  color: #ec6608 !important;
  border-color: #ec6608 !important;
}

/* ================================password__container============================ */
.gradientText {
  background: linear-gradient(90deg, #ec6608, #f39004, orange);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bolder;
}

.password__container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  /* For small and medium devices */
  .inputField_container {
    flex-direction: column;
    align-items: stretch; /* Makes children take full width */
  }

  .varInput {
    width: 100%; /* Makes the input fields take full width */
  }
}
